@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500;600;700&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/facebook.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/twitter.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/instagram.css');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Phudu', cursive;
    background-color:whitesmoke;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.navbar {
    margin: 20px 0;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container ul {
    display: flex;
    width:300px ;
    margin-right: 10px;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
}

.navbar .container h2 {
    font-size:xx-large;
}

.navbar .container a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 700;
    transition: 0.2s;
}

.navbar .container a:hover {
    font-size: x-large;
    background-color: black;
    color: white;
    border: 10px solid black;
}

.header .container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header .container h1,h2 {
    font-size: 4em;
    line-height: 50px;
}

.header .container p{
    max-width: 600px;
    font-size: 1em;
    padding: 30px 0;
    line-height: 20px;
}

.button {
    display: inline-block;
    font-size: 1em;
    background-color: black;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    width: 60px;
    transition: 0.2s;
}

.button:hover {
    font-size: x-large;
    border: 10px solid black;
    width: 85px;
}

/* button undone */

.social .container ul {
    display: flex;
    list-style-type: none;
    width: 15vw;
    justify-content: space-between;
}

.social .container a {
    text-decoration: none;
    color: black;
}

